body{
    background-color: #0a0c1b;
    color: white
    ;

font-family: 'Poppins', sans-serif;
margin: 0% auto;
}
@media only screen and (min-width: 763px){
    #wrapper{ 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
       background-color: #1c1938;
        border-radius: 7px;
        min-width: 900px;
        height: 20em;
    }
    .wrap-div{
        width: 450px;
    }
    #div-container-1{
        width: 420px;
         padding: 30px ;
    }
    #title{
        font-size: 1.5em;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    #insight{
        color:#b466df;
    }
    #description ,.values{
        color: #d0cfdd ;
    }
    #description{
        font-size: 0.6rem;
        font-weight: bold;
        margin-top: 0%;
        padding-top: 0%;
        line-height:normal;
    }
    #wrap-figures{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1em;
    
    }
    .figure{
        font-size:0.9rem ;
    } 
    .values{
       font-size: 0.5rem; 
    }
    #img-container{
        background-color: #8b3abd;
        margin: 0%;
        border-radius: 0% 3% 3% 0%;
        width: 450px;
        height: 20em;
    }
    #image{
        height: 20em;
       width:450px;
        background-image: url(./image-header-desktop.jpg);
        background-size: cover;
        opacity: 0.6;
        border-radius: 0% 3% 3% 0%;
    } 
}
    


@media only screen and (max-width: 763px) {

   #wrapper{
       display: flex;
       flex-direction: column-reverse;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 200px;
       height: fit-content;
       background-color: #1c1938;
       border-radius: 7px;
       justify-content: center;
       text-align: center;
   }
   #img-container{
    background-color: #8b3abd;
    margin: 0%;
    border-radius: 0% 3% 3% 0%;
    width: 200px;
    height: 148px;
}
   #image{
    height:148px;
   width:200px;
    background-image: url(./image-header-mobile.jpg);
    background-size: contain;
    
    opacity: 0.6;
    border-radius: 0% 3% 3% 0%;
}

#div-container-1{
    width: 170px;
    padding: 20px ;
}
#title{
    font-size: 1.1em;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
#insight{
    color:#b466df;
}
#description ,.values{
    color: #d0cfdd ;
}
#description{
    font-size: 0.5rem;
    font-weight: bold;
    margin-top: 0%;
    padding-top: 0%;
    line-height:normal;
}
#wrap-figures{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1em;

}
.figure{
    font-size:0.8rem ;
} 
.values{
   font-size: 0.4rem; 
}
}
